<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.forbitbd.sultantracker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SultanTracker">
        <activity
            android:name=".ui.settings.expense.ExpenseActivity"
            android:exported="true" />
        <activity
            android:name=".ui.settings.company.CompanyInfoActivity"
            android:exported="true" />
        <activity
            android:name=".ui.settings.language.LanguageSettingActivity"
            android:exported="true" />
        <activity
            android:name=".ui.settings.alertsetting.AlertSettingActivity"
            android:exported="true" />
        <activity
            android:name=".ui.settings.sharedvehicle.SharedVehicleActivity"
            android:exported="true" />
        <activity
            android:name=".ui.settings.payment.PaymentActivity"
            android:exported="true" />
        <activity
            android:name=".ui.settings.customerservice.CustomerServiceActivity"
            android:exported="true" />
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:exported="true" />
        <activity android:name=".ui.launcher.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.login.LoginActivity" />
        <activity android:name=".ui.signup.SignUpActivity" />
        <activity android:name=".ui.main.MainActivity" />
    </application>

</manifest>